.imagebox {
    position: relative;
}

.imagebox .image {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    background-color: #ccc;
    border: 3px double #555;
}

.imagebox .image img {
    width: 100%;
    display: block;
    border-radius: 15px;
}

.imagebox .image img:hover {
    transform: scale(1.2);
}

.imagebox .name {
    position: relative;
    display: inline-block;
    color: #ccc;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.imagebox .desc {
    margin-bottom: 30px;
}

.sidebar-left .imagebox {
	padding-right: 20px;
}

@media screen and (max-width: 768px) {
	.sidebar-left .imagebox {
		padding-right: 0;
	}	
}