.wrap-nivoslider.theme-default{
	position: relative;
	margin-bottom: 0;
}

.wrap-nivoslider.theme-default .nivoSlider{
	box-shadow: none;
	z-index: 2;
}

.namaste-fullwidth-slider {
	margin-left: -960px;
    margin-right: -960px;
}

.namaste-fullwidth-slider .namaste-slider-holder {
	max-width: 1920px;
    margin: auto;
}

.wrap-nivoslider.theme-default .nivo-controlNav {
	text-align: center;
    padding: 0;
    position: absolute;
    right: inherit;
    bottom: 0px;
    left: 49%;
    z-index: 10;
}
.wrap-nivoslider.theme-default .nivo-html-caption{
	position: relative;
}

.wrap-nivoslider.theme-default .nivo-controlNav a{
    background: none;
    border-radius: 50%;
    opacity: 0.3;
    width: 16px;
    height: 16px;
}

.wrap-nivoslider.theme-default .nivo-controlNav a.active{
	opacity: 1;
}

.wrap-nivoslider.theme-default .nivo-directionNav a{
	width: 40px;
    height: 40px;
    margin-top: -15px;
    border: 3px double;
    border-radius: 50px;
    text-indent: inherit;
    text-align: center;
    line-height: 36px;
}
/* Original css style */

.theme-default .nivoSlider {
	position:relative;
	margin-bottom: 0;
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.namaste-custom-slider .nivo-caption {
	bottom: 42% !important;
    left: 14% !important;
    width: initial !important;
    padding: 0;
    opacity: 1;
}

.namaste-custom-slider .namaste-slider-caption-holder {
    border: 3px double;
    padding: 0;
}

.namaste-custom-slider .namaste-slider-caption {
	border-radius: 15px;
    text-shadow: none !important;
    font-weight: bold !important;
    padding: 0 25px !important;
    font-size: 40px !important;
	font-style: normal;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

@media (max-width: 1600px) {
	.namaste-fullwidth-slider .namaste-slider-holder {
		max-width: 1600px;
	}
}

@media (max-width: 1400px) {
	.namaste-fullwidth-slider .namaste-slider-holder {
		max-width: 1400px;
	}
}